* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.container {
  margin: 0 auto;
}

header {
  padding: 15px 32px;
  display: grid;
  grid-template-columns: 1fr;
}

.header1 {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.frame1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.last-update {
  display: flex;
  gap: 8px;
}

.last-update span {
  font-weight: 700;
}

.header2 {
  padding: 10px 0;
  display: grid;
  grid-template-columns: 6fr 6fr;
  align-items: center;
  gap: 50px;
}

.frame2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.frame2 h2 {
  color: #3563e9;
  font-size: 32px;
}

.btn-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 5px 10px;
  font-size: 18px;
  color: #596780;
  background-color: #fff;
  border: 1px solid #596780;
  border-radius: 25px;
  cursor: pointer;
}

.profil-notification {
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
  color: #596780;
  align-items: center;
  gap: 30px;
}

.notification {
  position: relative;
  display: inline-block;
}

.badge {
  position: absolute;
  top: -3px;
  right: -3px;
  width: 10px;
  height: 10px;
  background-color: #f00;
  border-radius: 50%;
}

.profil-notification img {
  width: 35px;
  height: 35px;
  border-radius: 90px;
}

.content {
  background-color: #f6f7f9;
  display: grid;
  grid-template-columns: 3fr 9fr;
  gap: 25px;
}

.left-side-bar {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  background-color: #fff;
  border: 1px solid #f3f5f7;
}

.type-car,
.capacity-car,
.price-car {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.type-car p,
.capacity-car p,
.price-car p {
  font-weight: 600;
  font-size: 12px;
  color: #90a3bf;
}

.type-car label,
.capacity-car label,
.price-m {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  font-size: 18px;
}

.type-car label input,
.capacity-car label input {
  width: 18px;
  height: 18px;
}

.type-car label span,
.capacity-car label span {
  color: #90a3bf;
}

.right-content {
  padding-right: 20px;
  padding-bottom: 20px;
}

.filter {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pick-up,
.drop-off {
  padding: 20px;
  background-color: #fff;
  width: 450px;
  height: 132px;
  border-radius: 10px;
}

#dropoff,
#pickup {
  width: 15px;
  height: 15px;
}

.pick-up .radio-btn,
.drop-off .radio-btn {
  font-weight: 600;
  font-size: 17px;
}

.switch {
  color: #fff;
  font-size: 20px;
  background-color: #3563e9;
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.switch i {
  transform: rotate(90deg);
  padding: 13px;
}

.selection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}

.selection div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.selection div label {
  font-weight: 700;
  font-size: 13px;
}

.selection div select {
  width: 115px;
  height: 18px;
  border: none;
  background-color: transparent;
}

.selection div select option {
  font-size: 12px;
  color: #90a3bf;
}

.selection hr {
  width: 0;
  height: 48px;
  border: 1px solid #c3d4e966;
}

.catalog-car {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  padding: 25px;
  gap: 30px;
}

.card {
  width: 304px;
  height: 388px;
  border-radius: 10px;
  background-color: #fff;
  padding: 20px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.car-name {
  width: 128;
  height: 48;
  gap: 4px;
}

.car-name h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -3%;
  color: #1a202c;
}

.car-name p {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -2%;
  color: #90a3bf;
}

.like i {
  width: 24px;
  height: 24px;
  color: #90a3bf;
}

.rd i {
  color: #f00;
}

.card-img {
  padding: 65px 0;
}

.specification {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -2%;
  color: #90a3bf;
  margin-bottom: 10px;
}

.price h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

.price h3 span {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #90a3bf;
}

.price s {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #90a3bf;
}

.rent-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-rent-now {
  width: 116px;
  height: 44px;
  border-radius: 4px;
  padding: 10px;
  gap: 8px;
  background-color: #3563e9;
}

.btn-rent-now p {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -2%;
  text-align: center;
  color: #fff;
}

.btn-more {
  width: 156px;
  height: 44px;
  border-radius: 4px;
  padding: 12px;
  gap: 8px;
  background-color: #3563e9;
  color: #fff;
}

.btn-more p {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -2%;
  text-align: center;
}

.more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 400px;
}

.text {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -2%;
  color: #90a3bf;
}

footer {
  padding: 32px;
}

.footer-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: baseline;
  gap: 32px;
}

.left {
  width: 292px;
  height: 108px;
}

.left h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: -3%;
  color: #3563e9;
}

.left p {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -2%;
  color: #13131399;
}

.right {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.right div {
  width: 152px;
  height: 244px;
  gap: 50px;
}

.right div h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -2%;
  color: #1a202c;
}

.right div p {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -2%;
  margin-top: 20px;
  color: #13131399;
}

.footer-bottom {
  padding: 32px 0;
  display: grid;
  grid-template-columns: 9fr 3fr;
  justify-content: center;
}

.copy {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -2%;
  color: #1a202c;
}

.priv {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -2%;
  color: #1a202c;
}
