* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.container {
  margin: 0 auto;
}

header {
  padding: 15px 32px;
  display: grid;
  grid-template-columns: 1fr;
}

.header {
  padding: 10px 0;
  display: grid;
  grid-template-columns: 6fr 6fr;
  align-items: center;
  gap: 50px;
}

.frame {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.frame h2 {
  color: #3563e9;
  font-size: 32px;
}

.btn-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 5px 10px;
  font-size: 18px;
  color: #596780;
  background-color: #fff;
  border: 1px solid #596780;
  border-radius: 25px;
  cursor: pointer;
}

.profil-notification {
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
  color: #596780;
  align-items: center;
  gap: 30px;
}

.notification {
  position: relative;
  display: inline-block;
}

.badge {
  position: absolute;
  top: -3px;
  right: -3px;
  width: 10px;
  height: 10px;
  background-color: #f00;
  border-radius: 50%;
}

.profil-notification img {
  width: 35px;
  height: 35px;
  border-radius: 90px;
}

.content {
  background-color: #f6f7f9;
  display: grid;
  grid-template-columns: 5fr 3fr;
  padding: 25px;
  gap: 25px;
}

.left-side-bar,
.right-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
}

.billing,
.rental,
.payment-method,
.confirmation {
  border-radius: 10px;
  background-color: #fff;
  padding: 15px;
}

.billing-title,
.rental-title,
.payment-title,
.credit-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-in {
  gap: 4px;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -3%;
  color: #1a202c;
}

.left-in span {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -2%;
  color: #90a3bf;
}

.right-in {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -2%;
  text-align: right;
  color: #90a3bf;
}

.billing-info,
.rental-info,
.credit-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 10px;
}

.billing-info label,
.rental-info label,
.credit-info label {
  width: 386px;
  height: 92px;
  line-height: 150%;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -2%;
  color: #1a202c;
}

.billing-info label input,
.rental-info label select {
  width: 386px;
  height: 56px;
  border-radius: 10px;
  background-color: #f6f7f9;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -2%;
  padding-left: 15px;
  padding-right: 15px;
  color: #90a3bf;
  border: none;
}

.radio-btn {
  width: 150px;
  height: 20px;
  gap: 8px;
  margin-top: 10px;
}

.radio-btn label {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -2%;
  color: #1a202c;
}

.credit-card {
  border-radius: 10px;
  background-color: #f6f7f9;
  padding: 15px;
  margin-top: 10px;
}

.radio-btnc {
  width: 150px;
  height: 20px;
  gap: 8px;
  margin-top: 10px;
}

.radio-btnc label {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -2%;
  color: #1a202c;
}

.credit-info label input {
  width: 386px;
  height: 56px;
  border-radius: 10px;
  background-color: #fff;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -2%;
  padding-left: 15px;
  padding-right: 15px;
  color: #90a3bf;
  border: none;
}

.paypal,
.btc,
.spam,
.policy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f7f9;
  margin-top: 10px;
  padding: 10px 25px;
  border-radius: 10px;
}

.check-btn {
  height: 20px;
  gap: 15px;
  margin-top: 10px;
}

.check-btn label {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -2%;
  color: #1a202c;
}

.btn-confirm {
  width: 140px;
  height: 56px;
  gap: 8px;
  border-radius: 10px;
  padding: 20px;
  background-color: #3563e9;
  margin-top: 15px;
}

.btn-confirm p {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #fff;
}

.safe-data {
  margin-top: 15px;
  gap: 25px;
}

.safe-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -2%;
  gap: 10px;
  color: #1a202c;
}

.safe-text span {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -2%;
  color: #90a3bf;
}

.rent-summary {
  display: grid;
  background-color: #fff;
  height: 450px;
  padding: 20px;
}

.rent-sumh {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -3%;
  color: #1a202c;
}

.rent-sumh span {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -2%;
  color: #90a3bf;
}

.car {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.car-img {
  width: 132px;
  height: 108px;
  border-radius: 8px;
  background-image: url("../images/bg.png");
  background-color: #3563e9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.car-img img {
  width: 116px;
  height: 36px;
}

.car-name {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -3%;
  color: #1a202c;
}

.car-name span {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -2%;
  color: #596780;
}

hr {
  height: 0;
  border: solid 1px #c3d4e966;
}

.subtotal,
.tax {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -2%;
  color: #90a3bf;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtotal span,
.tax span,
.apply span {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -2%;
  color: #1a202c;
}

.apply {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -2%;
  color: #90a3bf;
}

.total-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 0%;
  color: #1a202c;
}

.pricert {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: -3%;
  color: #1a202c;
}

.pricert span {
  font-weight: 500;
  font-size: 12px;
  letter-spacing: -2%;
  color: #90a3bf;
}

footer {
  padding: 32px;
}

.footer-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: baseline;
  gap: 32px;
}

.left {
  width: 292px;
  height: 108px;
}

.left h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: -3%;
  color: #3563e9;
}

.left p {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -2%;
  color: #13131399;
}

.right {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.right div {
  width: 152px;
  height: 244px;
  gap: 50px;
}

.right div h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -2%;
  color: #1a202c;
}

.right div p {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -2%;
  margin-top: 20px;
  color: #13131399;
}

.footer-bottom {
  padding: 32px 0;
  display: grid;
  grid-template-columns: 9fr 3fr;
  justify-content: center;
}

.copy {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -2%;
  color: #1a202c;
}

.priv {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -2%;
  color: #1a202c;
}
