* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.container {
  margin: 0 auto;
}

header {
  padding: 15px 32px;
  display: grid;
  grid-template-columns: 1fr;
}

.header1 {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.frame1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.last-update {
  display: flex;
  gap: 8px;
}

.last-update span {
  font-weight: 700;
}

.header2 {
  padding: 10px 0;
  display: grid;
  grid-template-columns: 6fr 6fr;
  align-items: center;
  gap: 50px;
}

.frame2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.frame2 h2 {
  color: #3563e9;
  font-size: 32px;
}

.btn-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 5px 10px;
  font-size: 18px;
  color: #596780;
  background-color: #fff;
  border: 1px solid #596780;
  border-radius: 25px;
  cursor: pointer;
}

.profil-notification {
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
  color: #596780;
  align-items: center;
  gap: 30px;
}

.notification {
  position: relative;
  display: inline-block;
}

.badge {
  position: absolute;
  top: -3px;
  right: -3px;
  width: 10px;
  height: 10px;
  background-color: #f00;
  border-radius: 50%;
}

.profil-notification img {
  width: 35px;
  height: 35px;
  border-radius: 90px;
}

.content {
  padding: 32px;
  background-color: #f6f7f9;
}

.ads-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 20px;
}

.ads-card {
  width: 600px;
  height: 360px;
  border-radius: 10px;
  color: #fff;
}

.ads1 {
  background-color: #54a6ff;
  background-image: url("../images/BG1.png");
}

.ads2 {
  background-color: #3563e9;
  background-image: url("../images/BG2.png");
}

.ads {
  width: 284;
  height: 224;
  padding: 20px;
  gap: 20px;
}

.title {
  width: 284px;
  height: 160px;
  gap: 16px;
}

.title h3 {
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: -3%;
}

.title p {
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -2%;
}

.btn-rent {
  width: 120px;
  height: 50px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -2%;
  text-align: center;
  padding: 20px;
}

.br1 {
  background-color: #3563e9;
}

.br2 {
  background-color: #54a6ff;
}

.filter {
  margin: 32px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pick-up,
.drop-off {
  padding: 20px 32px;
  background-color: #fff;
  width: 520px;
  height: 132px;
  border-radius: 10px;
}

#dropoff,
#pickup {
  width: 15px;
  height: 15px;
}

.pick-up .radio-btn,
.drop-off .radio-btn{
  font-weight: 600;
  font-size: 20px;
}

.switch {
  color: #fff;
  font-size: 20px;
  background-color: #3563e9;
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.switch i {
  transform: rotate(90deg);
  padding: 13px;
}

.selection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}

.selection div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.selection div label {
  font-weight: 700;
  font-size: 18px;
}

.selection div select {
  width: 128px;
  height: 20px;
  border: none;
  background-color: transparent;
}

.selection div select option {
  font-size: 12px;
  color: #90a3bf;
}

.selection hr {
  width: 0;
  height: 48px;
  border: 1px solid #c3d4e966;
}
